.Contact {
  padding-top: 60px;
}

.contact-img-bg {
  text-align: center;
  /* The image used */
  background-image: url(../img/contact_us.jpeg);
  height: 400px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-map {
  /* The image used */
  background-image: url(../img/sushi_map.jpg);
  height: 400px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
}

.contact-table {
  text-align: left;
}
