.App {
  text-align: center;
  /* The image used */
  background-image: url(./img/sushi_wall.jpeg);
  min-height: 800px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description-content {
  color: white;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
